
.launchgame
{
    grid-row: auto / span 18;
    grid-column: 2 / -1;
    overflow: hidden;
}

.game
{
    height: 100%;
    width: 100%;
    display: flex;
}

.game--canvas
{
    background-color: rgb(255, 247, 237);
    height: 100%;
    width: 100%;
}

.game--canvas:focus
{
    outline: none;
}

.game-score
{
    top: 10px;
    font-size: x-large;
    color: black;
}



/* ///////////  PLAY PAGE   ///////// */

.play-page
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-page-title {
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.play-button
{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'inter', sans-serif;
    font-size: medium;
    background-color: white;
    box-shadow: 0 2px 3px black;
}

.play-button:hover
{
    background-color: rgba(0, 0, 0);
    color: white;
    border: 1px solid white;
}


.player-customization-warning
{
    padding: 5px;
    width: auto;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    top: 40px;
    color: black
}

@media screen and (max-width: 700px)
{
    .launchgame
    {
        min-height: 60vh;
        grid-row: auto / span 19;
        grid-column: 1 / -1;
    }
}

