/* /////////    SEARCHEDUSER    ////////// */

.searcheduser {
    box-shadow: 0 1px 3px black;
    border-radius: 5px;
    width: 90%;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    height: 50px;
    background-color: white;
    margin: 0 auto 3px auto;
}

.searcheduser-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.searcheduser-actions {
    bottom: -70px;
    right: 30px;
    border: 1px solid black;
    border-radius: 3px;
}

.searcheduser-actions-channel {
    border: 1px solid black;
    border-radius: 3px;
}

.searcheduser-actions-channel>p {
    margin: 0;
    padding: 10px 15px;
}


.searcheduser-actions>p {
    margin: 0;
    padding: 10px 15px;
}

.searcheduser-action {
    background-color: white;
    cursor: pointer;
}

.searcheduser-action:hover {
    background-color: #EBEBEB;
}