.header
{
    background-color: rgb(252, 252, 252);
    min-height: 7vh;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.header-pong
{
    font-size: xx-large;
    margin: 0 5vh;
    font-family: 'Righteous';
    letter-spacing: 2px;
    padding: 1vh 1vh ;
    border-radius: 5px;
    text-decoration: underline;
    color: black;
}

.pp-container
{
    margin: 0;
    padding: 0;
    height: 100%;
    flex: 0.3;
    display: flex;
    align-items: center;
}

.pp-container > *
{
    cursor: pointer;
}

.pp-link
{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
}

.pp-round
{
    overflow: hidden;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
}

.pp
{    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pp-username
{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
}

.pp-username:hover
{
    text-decoration: underline;
}