
/*  ////////    CHAT MESSAGES   ///////// */

.messages-container
{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.messages-display
{
    flex: 7;
    overflow-y: auto;
}

.messages-input
{
    background-color: rgb(255, 247, 237);
    word-wrap: break-word;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    border-top: 1px solid black;
}

.input
{
    padding: 5px 5px;
    align-items: center;
    font-family: 'inter', sans-serif;
}

.message-div
{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 2%;
}

.message
{
    max-width: 70%;
    background-color: rgb(235, 255, 255);
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 5px;
}


.no-messages-div
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-messages
{
    font-size: large;
}


/*  ///////     BANNER      ////////// */

.banner
{
    background-color: rgb(255, 247, 237);
    flex: 0.5;
    border-bottom: 1px solid black;
    display: flex;
    padding: 2% 2%;
}

.banner-div1
{
    display: flex;
    align-items: center;
}

.banner-pp
{
    height: auto;
    width: 10%;
}

.banner-name
{
    margin:0;
    padding-left: 20px;
    font-size: x-large;
    font-weight: 500;
}


.banner-status
{
    padding-left: 10px;
    color: grey;
    font-size: small;
}



.banner-div2
{
    display: flex;
    align-items: center;
}

.banner-icon
{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner-icon:hover
{
    background-color: rgb(231, 231, 231);
}

.banner-icon:active
{
    background-color: white;
}


.block
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-block
{
    display: flex;
    align-items: center;
}

.friend-block
{
    padding: 10px 5px;
    font-size: large;
    font-weight: 600;
}