.icon-container
{
    position: relative;
    align-self: center;
    justify-self: center ;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.icon-container:hover div
{
    visibility: visible;
}

.icon-container:active
{
    background-color: white;
}

.description
{
    position:absolute;
    bottom: -15px;
    visibility: hidden;
}