.pickmenu-options
{
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid black;
    border-top: 0px;
}

.pickmenu-option-selected
{
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid black;
}

