.profile
{
    background-color: rgb(255, 255, 255);
    grid-column: 5 / -1;
    grid-row: 2 / span 18;
    margin: 0;   
    padding: 10vh 10vh;
    display: flex;
}

.form--container
{
    width: 80%;
    max-width: 500px;
}

.input--container
{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    min-height: 80px;
}

.input--label
{
    margin-bottom: 2%;
}

.input
{
    font-size: medium;
    height: 2rem;
    border-radius: 5px;
    border: none;
    width: 80%;
    padding-left: 2%;
    border: 1px solid black;
}

.input:focus
{
    outline: none;
}

.profile-infos-button
{
   height: 40px;
   width: 70px;
   border-radius: 5px;
   border: 1px solid black;
   cursor: pointer;
}

.profile-infos-button:hover
{
    background-color: rgb(223, 223, 223);
}

.profile-infos-button:active
{
    background-color: white;
}

.infos-updated
{
    color: rgb(0, 211, 63);
    margin: 0;
    padding-bottom: 10px;
    font-size: small;
}

.infos-error
{
    color: rgb(211, 0, 0);
    margin: 0;
    padding-bottom: 10px;
    font-size: small;
}

/* ///////////////////////////////////// */


.profile-picture-container
{
    width: 25%;
    max-width: 200px;
}

.picture-container
{
    border: 1px solid rgb(172, 172, 172);
    overflow: hidden;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-picture-input
{
    width:0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.profil-picture-label
{
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -2vw;
    right: -1vw;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.profil-picture-label:hover
{
    background-color: rgb(197, 197, 197);
}

.profile-picture-button
{
    cursor: pointer;
}