.sidebar {
    grid-row: 2 / span 18;
    border-right: 1px solid rgb(0, 0, 0);
    overflow-x: hidden;
    min-height: 200px;
    width: 60px;
}

.menu--element {
    aspect-ratio: 1 / 1;
    border-bottom: 1px solid black; 
    text-decoration: none;
    color: black;
}

.menu--element:hover {
    background-color: #fff3e6;
}

.menu--element-title {
    font-size: large;
    text-align: center;
    font-weight: 500;
    padding-left: 5px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        grid-row: auto;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        border: none;
        border-bottom: 1px solid black;
        overflow: visible;
        width: 100%;
        min-height: auto;
    }

    .menu--element {
        text-decoration: none;
        color: black;
        width: 100%;
        height: auto;
        aspect-ratio: unset;
    }

    .menu--element-title
    {
        font-size: medium;
        font-weight: 400;
    }

}