.chat
{
    grid-row: 2 / span 18;
    grid-column: auto / span 20;
    margin: 0;
    padding: 3%;
}

.chat-container
{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 7px black;
    overflow: hidden;
    display: flex;
}

@media screen and (max-width: 700px)
{
    .chat {
        grid-row: auto / span 19;
        grid-column: auto / span 20;
    }
}