.container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.item {
	display: flex;
	flex-direction: column;
	width: 850px;
	height: 670px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 50px;
	text-align: center;
}

.menu {
	display: flex;
	flex-direction: row;
}

.button {
	font-size: 12px;
	height: 30px;
	margin-top: 10px;
	margin-left: 20px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}