.container {
	display: flex;
	height: 30%;
	margin-top: 5%;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 25px;
	align-items: center;
	overflow-x: scroll;
}

@media (max-height: 750px) {
	.container {
		display: none;
	}
}