
/* ////////////     ADD ELEMENT     /////////// */


.add-container
{
    width: 70%;
}

.add-div
{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10%;
}

.add-input
{
    padding: 5px;
    margin-left: 5px;
}

.search-input
{
    display: flex;
    align-items: center;
}