.container {
	display: flex;
	flex-direction: column;
	/* height: 35vh; */
	height: 350px;
	width: 40vw;
	margin-top: 2%;
	background-color: grey;
	border: 4px solid black;
	/* font-size: 3vh; */
	font-size: 30px;
	align-items: center;
	border-radius: 25px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.ul {
	margin-top: 5px;
	font-weight: 600;
}

.title {
	width: 100vw;
	font-size: 35px;
	margin: 0;
	background-color: aliceblue;
	text-align: center;
	border-bottom: 3px solid black;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	position: sticky;
}

.li {
	list-style: none;
}

@media (max-width: 900px) {
	.container {
		display: none;
	}
}