.interface-container
{
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.interface-friend
{
    background-color: antiquewhite;
    height: 100%;
    overflow: scroll;
}

@media screen and (max-width: 700px) {
    .interface-container {
        width: 100%;
        overflow-y: auto ;
    }

}