.friends
{
    border-top: 1px solid black;
    margin: 0;  
    margin-top: 5px; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    min-width: 200px;
    overflow-y: scroll;
}

.friendlist
{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.friend
{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid black;
}

.infos-div
{
    display: flex;
    width: 80%;
    overflow: hidden;
}

.friend-image
{
    height: 80%;
}

.firend-icon-status
{
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    height: 10px;
    width: 10px;
    align-self: end;
    position: relative;
    top: -5px;
    left: -15px;
    border: 2px solid rgb(255, 255, 255);
}

.friend-infos > p
{
    margin: 0;
}

.friend-infos
{
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.username
{
    font-size: large;
}

.friend-status
{
    display: flex;
    font-size: small;
    color: grey;
}


.friend-actions
{
    background-color: rgb(212, 212, 212);
    padding: 2%;
    align-self: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.friend-actions:hover
{
    background-color: rgb(189, 186, 186);
}


/* //////////   CHAT    ///////// */

.chat
{
    position:sticky;
    background-color: aqua;
}