.game
{
    grid-column: 5 / -1;
    grid-row: 2 / span 18;
    margin: 0;
    height: 100%;
    width: 100%;
}

.game--canvas
{
    background-color: rgb(255, 247, 237);
    border: none;
}

.game--canvas:focus
{
    outline: none;
}

.score--container
{
    position: absolute;
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: center;
}

.score
{
    margin:0;
    padding: 2% 5%;
    font-size: 200%;
    font-family: 'inter', sans-serif;
}