.header
{
    background-color: rgb(255, 255, 255);
    min-height: 7vh;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.header--pong
{
    font-size: xx-large;
    margin: 0 5vh;
    font-family: 'Righteous';
    letter-spacing: 2px;
    padding: 1vh 1vh ;
    border-radius: 5px;
    text-decoration: underline;
}