.profile
{
    background-color: rgb(255, 255, 255);
    grid-column: 5 / -1;
    grid-row: 2 / span 18;
    margin: 0;   
    padding: 10vh 10vh;
    display: flex;
}

.form--container
{
    width: 80%;
    max-width: 500px;
}

.input--container
{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    min-height: 80px;
}

.input--label
{
    margin-bottom: 2%;
}

.input
{
    height: 2rem;
    border-radius: 5px;
    border: none;
    width: 80%;
    padding-left: 2%;
    border: 1px solid black;
}

.input:focus
{
    outline: none;
}

.profile-infos-button
{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 2%;
    cursor: pointer;
    height: 20%;
    width: 40%;
    max-height: 50px;
    max-width: 100px;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: small;
}

.profile-infos-button:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}


/* ///////////////////////////////////// */


.profile-picture-container
{
    width: 25%;
    max-width: 200px;
}

.profile-picture
{
    width: 100%;
    max-width: 150px;
}

.profile-picture-input
{
    width:0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.profil-picture-label
{
    background-color: white;
    position: relative;
    top: -2vw;
    right: -1vw;
    padding: 5% 5%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.profil-picture-label:hover
{
    background-color: rgb(197, 197, 197);
}

.profile-picture-button
{
    cursor: pointer;
}