.banner
{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between ;
}

.banner-icon-container
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    /* flex-wrap: wrap;
    overflow: hidden; */
}

.banner-fill-icon-container
{
    background-color: aqua;
}