.banner
{
    min-height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    padding: 0 10px;
    flex-wrap: wrap;
}

.banner-icon-container
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    flex-wrap: wrap;
    overflow: hidden;
}

.banner-fill-icon-container
{
    background-color: aqua;
}

.banner-icons-container
{
    width: 100%;
}

.banner-icons-container > div
{
    height: 60px;
}

.mobile-iconsbanner
{
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.iconsbanner > div {
    height: 40px;
    align-self: center;
}