.container {
	height: 50%;
	border-radius: 20px 20px 0 0;
	padding-top: 7px;
	background-color: rgba(0, 0, 0, 0.1);
	overflow-y: auto;
}

.boxMessage {
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
}

.message {
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 16px;
}