.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: grid;
  grid-template: repeat(20, 1fr) / 60px auto;
  min-width: 300px;
}


@media screen and (max-width: 700px){
  
  .main-content {
  }
}

