.banner
{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between ;
}

.description
{
    position:absolute;
    bottom: -15px;
    visibility: hidden;
}

@media (max-width: 700px)
{
    .banner-icon
    {
        display: none;
    }
}
