.banner
{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between ;
}

.banner-icon-container
{
    background-color: antiquewhite;
    min-width: auto;
    height: 100%;
    margin-left: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.banner-fill-icon-container
{
    background-color: aqua;
}

.description
{
    position:absolute;
    bottom: -15px;
    visibility: hidden;
}

/* @media (max-width: 700px)
{
    .banner-icon
    {
        display: none;
    }
} */


.channelinfos-pp-container
{
    height: 40px;
    width: 40px;
    padding: 0 2px;
}

.channelinfos-members-container
{
    padding: 0 5px;
    flex-wrap: wrap;
    height: 40px;
    width: 100%;
    overflow: hidden;

}