.banner
{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between ;
}

.banner-icon
{
    position: relative;
    align-self: center;
    justify-self: center ;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.banner-icon:hover div
{
    visibility: visible;
}

.banner-icon:active
{
    background-color: white;
}

.description
{
    position:absolute;
    bottom: -15px;
    visibility: hidden;
}

@media (max-width: 700px)
{
    .banner-icon
    {
        display: none;
    }
}
