
/*  ////////    CHAT MESSAGES   ///////// */

.messages-container
{
    width: 70%;
}

.messages-display
{
    flex: 7;
    overflow-y: auto;
}

.messages-input
{
    flex: 1;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}

.input
{
    padding: 5px 5px;
    align-items: center;
    font-family: 'inter', sans-serif;
    box-shadow: 1px 1px 3px black;
}

.message-div
{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 2%;
}

.message-infos
{
    max-width: 70%;
}

.message
{
    margin: 0;
    margin-top: 20px;
    width: auto;
    background-color: rgb(235, 255, 255);
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 5px;
    word-break: break-all;
}

.message-author
{
    font-size: small;
    margin: 0;
}


.no-messages-div
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-messages
{
    font-size: large;
}


/*  ///////     BANNER      ////////// */

.banner
{
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between ;
}

.banner-options
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-members
{
    padding: 0 10px;
    max-width: 100%;
    font-size: small;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 850px)
{
    .banner-members
    {
        display: none;
        background-color: aqua;
    }
}


.banner-div2
{
    display: flex;
    align-items: center;
}

.banner-icon
{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner-icon:active
{
    background-color: white;
}


@media (max-width: 700px)
{
    .banner-icon
    {
        display: none;
    }
}

/*  /////   BLOCK MESSAGE   ////    */
 
.block
{
    background-color: white;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

.text-block
{
    display: flex;
    align-items: center;
}

.friend-block
{
    padding: 10px 5px;
    font-size: large;
    font-weight: 600;
}

/*  /////   GAME INVITATION MESSAGE   ////    */

.invitation
{
    background-color: rgb(255, 250, 243);
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-invitation
{
    display: flex;
    align-items: center;
}

.friend-invitation
{
    padding: 10px 5px;
    font-size: large;
    font-weight: 600;
}
