
.infoinput-label
{
    margin-bottom: 7px;
}

.infoinput-input
{
    height: 30px;
    padding: 5px;
    align-items: center;
    font-size: medium;
    font-family: 'inter', sans-serif;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px black;
}

.infoinput-input:focus{
    outline: none;
}

@media screen and (max-width: 700px) {

    .infoinput-label {
        font-size: 15px;
    }

    .infoinput-input {
        height: 25px;
        font-size: 14px;
        font-family: 'inter', sans-serif;
    }
}