.container {
	display: flex;
	align-items: center;
	height: 50px;
	width: 250px;
	justify-content: center;
	margin-top: 1vh;
	border: 3px solid black;
	border-radius: 10px;
}

.image {
	height: 40px;
	width: 40px;
	padding: 0 5px
}