.container {
	display: flex;
	flex-direction: column;
	background-color: rgb(179, 179, 179);
	margin-left: 10px;
	height: 90%;
	border-radius: 10px;
	min-width: 200px;
	text-align: center;
	overflow-y: hidden;
}

.headerDiv {
	font-size: 150%;
	height: 20%;
	display: flex;
	background-color: rgb(88, 88, 88);
	justify-content: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3%;
}

.image {
	height: 50px;
	width: 50px;
}

.cross {
	margin-top: 8px;
	height: 30px;
	width: 30px;
}


.bar {
	margin-top: 10px;
	margin-left: 20%;
	width: 60%;
	background-color: #f1f1f1;
	border-radius: 15px;
}

.progress {
	width: 70%;
	height: 20px;
	border-radius: 10px;
	background-color: #4CAF50;
}