.container {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 80px;
    /* justify-content: center; */
}

.input {
    height: 30px;
    width: 200px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
}

.button {
	height: 30px;
	width: 85px;
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	cursor: pointer;
}