.container {
    margin-top: 10px;
    margin-bottom: 15px;
}

.input {
    height: 30px;
    width: 200px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
}
