.channelinfos
{

}

.channelinfos-infos
{

}

.channelinfos-infos > p {
    margin: 0;
    white-space: nowrap;
}

.channelinfos-infos-members {
    
}

.channelinfos-pp-container
{
    height: 30px;
    width: 30px;
    padding: 0 2px;
}

.channelinfos-members-container
{
    padding: 0 5px;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;

}