.sidebar
{
    grid-row: 2 / span 18;
    grid-column: 1 / span 4;
    border-right: 2px solid rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sidebar--title
{
    padding: 0 10%;
}

.menu--element
{
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0 10%;
    text-decoration: none;
    color: black;
}

.menu--element:hover
{
    border: 1px solid black;
    cursor: pointer;
}

.menu--element-title
{
    width: 100%;
    font-size: large;
    text-align: center;
    font-weight: 500;
}
