.container {
    width: 100px;
    height: 125px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
	font-weight: 900;
}

.image {
    height: 100px;
    border-radius: 50%;
    display: block;
    width: 100%;
    /* opacity: 0.5; */
}

.cross {
	height: 15px;
	width: 15px;
	position: absolute;
	top: 80px;
	left: 58px;
	cursor: pointer;
}

.check {
	height: 25px;
	width: 20px;
	position: absolute;
	top: 75px;
	left: 22px;
	cursor: pointer;
}