.ladder{
	display: flex;
	flex-direction: column;
	grid-row: 2 / span 18;
	grid-column: auto / span 20;
	padding: 5%;
	overflow-y: auto;
	overflow-x: hidden;
}

.ladder-container
{
	min-width: 450px;
	max-width: 900px; 
	width: 70%;
}

/* //////////// 	LADDER USERS	//////////// */

.ladder-users {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 10px;
	margin-top: 5%;
}

.ladderuser-username {
	color: #000;
	font-size: 15px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	padding: 0 10px;
}

.ladderuser-elo {
	color: #000;
	font-size: 19px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-left: auto; 
	padding: 0 10px;
}


.ladderuser-rank {
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	align-items: center;
}

.ladderuser-rank>p {
	margin: 0;
}

.ladderuser-rank-hashtag {
	color: #000;
	font-size: 20px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.ladderuser-rank-index {
	color: #000;
	font-size: 25px;
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}


@media screen and (max-width: 700px) {
	.ladder {
		grid-row: auto / span 19;
		grid-column: 1 / -1;
	}
}


