.container {
	display: flex;
	flex-direction: column;
	grid-row: 2 / span 18;
	grid-column: auto / span 20;
	border-radius: 50px;
	margin: 5%;
	padding: 5%;
	border: 3px solid black;
}

.title {
	font-size: 35px;
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
	border-bottom: 3px solid black;
	position: sticky;
	top: 0;
}

.stats {
	display: flex;
	justify-content: space-evenly;
}

.infoUser {
	height: 15%;
	width: 100%;
	margin-top: 3%;
	display: flex;
	font-size: 7vh;
	align-items: center;
	justify-content: space-around;
}

.username {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.image {
	max-width: 100%;
	max-height: 100%;
	margin-right: 5%;
}

.list {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

@media screen and (max-width: 700px)
{
    .container
    {
        grid-row: auto / span 19;
        grid-column: 1 / -1;
    }
}


@media (max-height: 350px) {
	.container {
		display: none;
	}
}