body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hover-fill-grey:hover
{
  background-color: rgb(231, 231, 231);
}

.flex-column
{
  display: flex;
  flex-direction: column;
}

.flex-column-center
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative
{
  position: relative;
}

.absolute
{
  position: absolute;
}

.button
{
  padding: 10px 10px;
  box-shadow: 0 1px 3px black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover
{
  box-shadow: 0 1px 5px black;
}

.light-red
{
 background-color: rgb(255, 220, 220);
}

.red
{
  background-color: rgb(255, 78, 78);
}

.white
{
  background-color: white;
}

.white-color
{
  color: white;
}

.fill
{
  height: 100%;
  width: 100%;
}
