.container {
	width: 100%;
	height: 50px;
	/* padding-left: 100px; */
	/* background-color: white; */
	background-color: rgb(0, 0, 0, 0.1);
	border-radius: 10px;


	display: flex;
	justify-content: center;
	align-items: center;
}

.tabs {
	display: flex;
	/* justify-content: space-between; */
	/* justify-content: center; */
	list-style: none;
	height: 50px;
	padding: 0;
	/* padding-bottom: 50px; */
}

.element {
	padding-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 20px;
	font-size: 20px;
	font-weight: 900;
	border-radius: 10px;
}

.element:hover {
	/* background-color: black; */
	background-color: rgb(0, 0, 0, 0.2);
	cursor: pointer;
}

.profileInfos {
	margin-left: 150px;
}