/*   U S E R    LA B E L   */

.user-label {
    height: 60px;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(112, 112, 112);
    text-decoration: none;
    color: black;
    align-items: center;
}

/*   U S E R    L A B E L   S E A R C H   */

.UserLabelSearch-container {
    box-shadow: 0 1px 3px black;
    border-radius: 5px;
    width: 96%;
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center
}

.userlabel-friend-request
{
    display: flex;
    gap: 5px
}

.userlabel-friend-request > div {
    height: 40px;
}