/*    U S E R    I N F O S      */

.userinfos-container {    
    width: 100%;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.userinfos-pp-container {
    width: 40px;
    height: 40px;
}

.friend-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 50px;
}

.userinfos-icon-status {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    align-self: end;
    position: relative;
    top: -5px;
    left: -15px;
    border: 2px solid rgb(255, 255, 255);
}

.user-infos>p {
    margin: 0;
}

.user-infos {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    justify-content: space-around;
}

.userinfos-username {
    font-size: large;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.userinfos-status {
    font-size: small;
    color: grey;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}