.friend-element {
    height: 60px;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(112, 112, 112);
    text-decoration: none;
    color: black;
    align-items: center;
}


/*    U S E R    I N F O S      */

.userinfos-container {
    width: 100%;
    height: 50px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.userinfos-pp-container {
    width: 40px;
    height: 40px;
}

.friend-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 50px;
}

.userinfos-icon-status {
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    align-self: end;
    position: relative;
    top: -5px;
    left: -15px;
    border: 2px solid rgb(255, 255, 255);
}

.user-infos>p {
    margin: 0;
}

.user-infos {
    padding-bottom: 5px;
    justify-content: space-around;
}

.userinfos-username {
    font-size: large;
}

.userinfos-status {
    display: flex;
    font-size: small;
    color: grey;
}


/*   F R I E N D    S E A R C H   */

.UserLabelSearch-container {
    box-shadow: 0 1px 3px black;
    border-radius: 5px;
    width: 96%;
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center
}