
.confirmview-container
{
    padding: 5%;
    background-color: white;
    height: auto;
    width: auto;
    max-height: 40%;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
}


.remove-friend-username
{
    font-size: medium;
    font-weight: 500;
}

.confirmview-button
{
    height: 40px;
    width: 80px;
    padding: 3%;
    font-weight: 600;
}