.profile {
    grid-row: 2 / span 18;
    grid-column: auto / span 20;
    margin: 0;
    padding: 3%;
}


/* ///////////      PROFILE MENU   ////////// */

.profile-menu {
    flex: 1;
    margin-right: 5%; 
}

.profile-menu-font-username {
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 15px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.profile-menu-font-menu {
    color: rgba(0, 0, 0, 0.55);
    font-size: 19px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-menu-button {
    width: 88px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #FFF1E0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.90);
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 22px;
}

.profile-menu-button:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.4);
}


/* /////////////////        STATISTICS      ///////////////////// */

.profile-statistics {
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
}

.profile-statistics-elements>p {
    margin: 0;
    color: #000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile-statistics-title {
    color: #000;
    font-size: 27px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}

/* ////////////////////     PROFILE INFORMATIONS ///////////////// */

.profile-informations {
    flex: 5;
    gap: 30px;
    min-width: 800px; 
}



@media screen and (max-width: 700px) {

    .profile {
        padding: 3%;
        grid-row: auto / span 18;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-menu {
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
        align-items: center;
    }

    .profile-statistics
    {
        margin: 0;
    }

    .profile-informations
    {
        flex:1;
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }

}