/* ///////////////      SETTINGS       //////////////// */

.profile-settings2 {
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    background: #FFFCF9;
    gap: 10px;
    max-width: 700px;
    align-self: flex-start;
    justify-self: flex-end;
}


/* ///////////      LABEL      /////////// */


.profile-settings-label {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile-settings-label-title {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    cursor: pointer;
}

.profile-settings-label-title:hover {
    background: #eeeeee;
}

/* ///////////      USERNAME      /////////// */

.profile-settings-username-button {
    width: 88px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #FFF1E0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.90);
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 22px;
}


/* ///////////      PROFILE PICTURE      /////////// */

.profile-settings-picture-input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.profil-settings-picture-label {
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.profil-settings-picture-label:hover {
    background-color: rgb(224, 224, 224);
}

/* ///////////      2FA      /////////// */

.profile-settings-2fa-text {
    color: rgba(0, 0, 0, 0.90);
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width: 700px) {
    .profile-settings1 {
        width: 100%;
    }

    .profile-settings-label-title {
        font-size: 13px;
    }

    .profile-settings-username-button
    {
        font-size: 12px;
    }

    .profile-settings-username-button {
        width: 65px;
        height: 30px;
    }
}