.history
{
    margin: 0;   
    padding: 5% 5%;
    overflow-y: scroll;
    width: 50%;
}

.match-div
{
    padding: 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    max-width: 600px;
    max-height: 100px;
    border: 1px solid black;
    background-color: rgb(218, 218, 218);
    box-shadow: 0px 2px 5px black;
}

.player-name
{
    max-width: 50%;
    overflow: hidden;
    flex: 4;
    text-align: center;
}

.score
{
    align-self: center;
}

@media screen and (max-width: 700px) {
    .history {
        align-self: center;
        width: 60%;
    }
}