.container {
	display: flex;
	align-items: center;
	height: 60px;
	width: 90%;
	justify-content: center;
	font-size: 150%;
	margin-top: 1vh;
	border: 3px solid black;
	border-radius: 10px;
	background-color: rgb(168, 168, 168);
	overflow: hidden;
}

.image {
	height: 40px;
	width: 40px;
}

.name {
	padding-right: 50px;
	max-width: 150px;
	overflow: hidden;
}