.menu-container {
    flex: 1;
    overflow: auto;
    border-right: 1px solid black;
    min-width: 230px;
}

/* ///////  GROUP ELEMENT   ////// */

.group {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding: 2% 5%;
    min-height: 40px;
    cursor: pointer;
}

.group>p {
    margin: 0;
}

.group-name {
    text-align: center;
    font-size: large;
    font-weight: 500;
    max-width: 40%;
    overflow: hidden;
}

.group-separator {
    padding: 0 5px;
}

.group-members {
    text-align: center;
    color: gray;
    font-size: small;
    min-width: 10px;
    white-space: nowrap;
}


.friend-chat {
    cursor: pointer;
}

.friend-chat:hover {
    background-color: rgb(236, 236, 236);
}