.menu-container {
    flex: 1;
    overflow: auto;
    border-right: 1px solid black;
    min-width: 230px;
}



/*      ///////     COLLECTION  ///// */


.menu-collection {
    width: 100%;
    margin: 0;
}

.menu-collection-label {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-top: 1px solid black;
    background-color: #ffffff;
}

.menu-collection-label:hover {
    background-color: #EBEBEB;
}

.menu-collection-length {
    margin-left: 5px;
    padding: 1px 5px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.50);
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu-collection-title {
    color: #000;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.collection {
    width: 100%;
    margin: 0;
    padding: 5% 0;
}

.collection-label {
    display: flex;
    align-items: center;
}

.collection-title {
    padding-right: 5%;
}

.collection-add {
    padding: 5px 5px;
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    position: relative;
    margin-left: auto;
}

.collection-add:hover {
    background-color: rgb(235, 235, 235);
}

.collection-element-notif {
    height: 10px;
    width: 10px;
    background-color: red;
    border: 2px solid white;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
}

/* ///////  GROUP ELEMENT   ////// */

.group {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding: 2% 5%;
    min-height: 40px;
    cursor: pointer;
}

.group>p {
    margin: 0;
}

.group-name {
    text-align: center;
    font-size: large;
    font-weight: 500;
    max-width: 40%;
    overflow: hidden;
}

.group-separator {
    padding: 0 5px;
}

.group-members {
    text-align: center;
    color: gray;
    font-size: small;
    min-width: 10px;
    white-space: nowrap;
}


.friend-chat {
    cursor: pointer;
}

.friend-chat:hover {
    background-color: rgb(236, 236, 236);
}