.menu-searchelement {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* //////////   SEARCH INPUT       /////////// */

.menu-searchinput {
    display: flex;
    align-items: center;
    background-color: #EBEBEB;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
}

#menu-searchinput-input {
    border: none;
    width: 100%;
    background-color: #EBEBEB;
    color: black;
}

#menu-searchinput-input:focus {
    outline: none;
}

#menu-searchinput-input::placeholder {
    color: black;
}


/* /////////    SEARCHEDUSER    ////////// */

.menu-searcheduser {
    box-shadow: 0 1px 3px black;
    border-radius: 5px;
    width: 90%;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.menu-searcheduser-actons {
    bottom: -70px;
    right: 40px;
    z-index: 3;
    border: 1px solid black;
    border-radius: 3px;
}

.menu-searcheduser-actons>p {
    margin: 0;
    padding: 10px 15px;
}

.menu-searcheduser-acton {
    background-color: white;
    cursor: pointer;
}

.menu-searcheduser-acton:hover {
    background-color: #EBEBEB;
}